body{
    background-color: blue;
}
.whoiam{
    background-color: red;
}
.whatmyselflikes{
    background-color: yellow;
}
.whoiloveandwholovesmyself{
    background-color: chartreuse;
}
.whoaregoodtomyself{
    background-color: darkorange;
}