body{
    background-color: blue;
}
.whoiam{
    background-color: blueviolet;
}
.whatmyselflikes{
    background-color: chartreuse;
}
.whoiloveandwholovesmyself{
    background-color: crimson;
}
.whoaregoodtomyself{
    background-color: darkorange;
}